<!-- Sunset and sunrise container -->
<div class="sunrise-sunset" *ngIf="sunrise && sunset && !cityNotFound">
  <div class="sunrise">
    <div class="weather-icon-container">
      <img src="../../../../assets/icons/sunrise.svg" alt="sunrise-icon"/>
      <span class="hour-sunrise">{{ sunrise }} AM</span>
    </div>
  </div>
  <div class="line"></div>
  <div class="sunset">
    <div class="weather-icon-container">
      <span class="hour-sunset">{{ sunset }} PM</span>
      <img src="../../../../assets/icons/sunset.svg" alt="sunset-icon"/>
    </div>
  </div>
</div>
<!-- Weather cards-->
<div class="days" *ngIf="!cityNotFound">
  <div class="forecast-cards">
    <mat-card *ngFor="let day of forecast; let i = index" class="forecast-card">
      <mat-card-header class="card-header">
        <mat-card-title class="card-title">
          {{ day.translatedDay }}
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="weather-icon-container">
          <img [src]="getWeatherIcon(day.weather[0].icon)" alt="weather-icon" class="weather-icon"/>
        </div>
        <div class="extra-info">
          <p>
            <img src="../../../../assets/icons/temp.png" alt="temp-icon"/>
            {{ (day.main.temp_min) | number: '1.0-1' }}º /  {{ (day.main.temp_max) | number: '1.0-1'}}º
          </p>
          <p>
            <img src="../../../../assets/icons/wind.svg" alt="wind-icon" />
            {{ day.wind.gust | number: '1.0-1' }} km/s
          </p>
          <p>
            <img src="../../../../assets/icons/humidity.png" alt="humidity-icon" />
            {{ day.main.humidity }}%
          </p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<!-- Error message -->
<div *ngIf="errorMessage" class="error-message">
  {{ errorMessage }}
</div>
